*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#0d0434;
}
.container{
    max-width: 350px;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    padding-top: 30px;
    padding-bottom: 30px;
}
.container .profile-img{
    display: flex;

    align-items: center;
    justify-content: center;
}
.container .profile-img img{
    width: 35%;
    border-radius: 50%;
}
.content .name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    
}
.content .address{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a3465;
    font-size: 13px;
    margin-top: 8px;
    font-weight: bold;
}
.content .title{
    display: flex;
    align-items: center;
    justify-content: center;
    color:hsl(0, 0%, 100%) ;
    margin-top: 20px;
}
.container .socials{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}
.container .socials button{
    margin-top: 10px;
    position: relative;
    width: 80%;
    outline: none;
    border: none;
    line-height: 50px;
    background: hsl(0, 0%, 15%);
    border-radius: 5px ;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .socials button:hover{
    background: #07195b;
}
.container .socials button a{
    list-style: none;
    text-decoration: none;
    font-weight: 17px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    /* background: ; */
    color: hsl(0, 0%, 100%);
    transition: all 0.3s ease;
}
.container .socials button:hover a{
    color: hsl(0, 0%, 100%);
}



    


